<%= link_to 'So funktionierts', static_how_path, :class => "btn my-button-blue", :data => {:role =>"button"}%>
<h3>Angebote</h3>
<div id="product_list">
	<%= render 'products_list'%>
</div>

<% if not current_cart.total_items == 0 %>
	<%= link_to 'Weiter zum Bestellen', current_cart, :class => "btn btn-success my-button-blue", :data => {:role =>"button"}%>
<% end %>

