<div class="row">
	<div class="span12 hidden-phone">

<%= image_tag("logo.png", :class => 'index_image')%>
<p class="centered_text">Griechische Spezialitäten</p>
<%= image_tag("grillhaus.png", :class => 'index_image')%>
<%= image_tag("grillhaus-banner.png", :class => 'index_image', :id => 'grillhaus-banner')%>
<p class="centered_text">Im ERBA Komplex</p>
<p class="centered_text">An der Spinnerei 15, 96049 Bamberg</p>
<p class="centered_text">0951 / 408 638 01</p>
<p>&nbsp;</p>
<p class="centered_text">Unsere Öffnungszeiten</p>
<p>&nbsp;</p>
<p class="centered_text">Mo - Sa: 11:30 - 14:30 Uhr und</p>
<p class="centered_text">17:00 - 23:00 Uhr</p>
<p class="centered_text">Sonn- und Feirtag</p>
<p class="centered_text">17:00 - 23:00 Uhr</p>

<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fmcgyrosbamberg%3Fref%3Dhl&amp;width=500&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false&amp;appId=307910042614334" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:258px; display: block; margin-left: auto; margin-right: auto" allowTransparency="true"></iframe>
    
  </div>
  
  <div class="span12 visible-phone text-center">
    <h3>Griechische Spezialitäten</h3>
<p>Im ERBA Komplex</p>
<p >An der Spinnerei 15, 96049 Bamberg</p>
<h4>0951 / 408 638 01</h4>
<p>&nbsp;</p>
<h4>Unsere Öffnungszeiten</h4>
<p>&nbsp;</p>
<p>Mo - Sa: 11:30 - 14:30 Uhr und</p>
<p>17:00 - 23:00 Uhr</p>
<p>Sonn- und Feirtag</p>
<p>17:00 - 23:00 Uhr</p>
  </div>
</div>