<h1>So funktionierts</h1>
<p>Einfach über die App vorbestellen und zum gewünschten Zeitpunkt bei uns abholen.</p>
<p>Wenn Sie wenig Zeit haben können Sie auch bei uns vorbestellen. Wenn sie kommen ist ihr Essen schon gekocht und Sie können es bei uns genießen.</p>
<p>Ihr Bar Central Team</p>
