<h1>Impressum</h1>

<p>Anbieterkennung gemäß § 6 TDG und § 6 MDStV:</p>
<p><strong>Mc Gyros</strong></p>
<p>Inhaber: Efthymia Moisiadou </p>
<p>An der Spinnerei 15<br />
96049 Bamberg</p>
<p>Telefon: +49 951 40863801<br />
E-Mail: info@mc-gyros.de</p>
<p>Inhaber: Mc Gyros GmbH</p>
<p>Zuständige Aufsichtsbehörde: Gewerbeamt Stadt Bamberg</p>
<p>Steuernummer: 207/248/10269<br />
Inhaltlich Verantwortlicher: Efthymia Moisiadou (Anschrift wie oben)</p>
<p>Haftungshinweis:</p>
<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

<p>Bilder</p>
<p>© mw-luftbild.de - Fotolia.com</p>
