<h1 class="page-title">Impressum</h1>
<p>Anbieterkennung gemäß § 6 TDG und § 6 MDStV:</p>
<p><strong>Bar Central GmbH</strong></p>
<p>Geschäftsführer: Slim Riahi</p>
<p>Lange Straße 38-40<br />
96047 Bamberg</p>
<p>Telefon: +49 951 2999702<br />
Telefax: +49 951 2999701<br />
E-Mail: info@barcentral-bamberg.de</p>
<p>Inhaber: Bar Central GmbH</p>
<p>Zuständige Aufsichtsbehörde: Gewerbeamt Stadt Bamberg</p>
<p>Steuernummer: 207/122/00546<br />
Inhaltlich Verantwortlicher: Slim Riahi (Anschrift wie oben)</p>
<p>Haftungshinweis:</p>
<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

