<ul class="nav">
    <li>
    <%= link_to 'Impressum', destroy_user_session_path, :method=>'delete' %>
    </li>
    <li>
    <%= link_to 'Copyright Mc Gyros 2013', new_user_session_path %>
    </li>

</ul>