<div data-role="navbar" data-iconpos="left">
    <ul>
        <li>
					<%= link_to 'Karte', root_path, :data => {:icon => "home"}, :data => {:theme => "x"}%>
        
        </li>
        <li>
					<%= link_to 'Warenkorb', current_cart, :data => {:icon => "star"}, :data => {:theme => "x"}%>
        </li>
    </ul>
</div>
